# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual environment
researchpaper-env/
venv/

# pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# PyCharm
.idea/

# mypy
.mypy_cache/

# Pylint
.pylint.d/

# coverage reports
coverage/


